[submodule "catkin_ws/src/lanedetection/include/KittiSeg"]
	url = https://github.com/ROB7-StayHumble/KittiSeg.git
[submodule "catkin_ws/src/vision_opencv"]
	url = https://github.com/ros-perception/vision_opencv
