[submodule "catkin_ws/src/visualization/include/KittiSeg"]
	url = https://github.com/MarvinTeichmann/KittiSeg
[submodule "catkin_ws/src/vision_opencv"]
	url = https://github.com/ros-perception/vision_opencv
